In [1]:
import pandas as pd
import json
import os

GRAPH_DIR = "./Graphs"

In [2]:
with open(os.path.join(GRAPH_DIR, "tfidf_core_clusts.json")) as curr_f:
    tfidf_core_clusts = json.load(curr_f)

In [3]:
with open(os.path.join(GRAPH_DIR, "pos_tri_core_clusts.json")) as curr_f:
    postri_core_clusts = json.load(curr_f)

In [4]:
all_users = tfidf_core_clusts["Cluster 0"] + tfidf_core_clusts["Cluster 1"]

In [5]:
clusters = pd.DataFrame()

In [6]:
clusters["bow"] = pd.Series({u: int(u in tfidf_core_clusts["Cluster 1"]) for u in all_users})

In [7]:
clusters["pos_tri"] = pd.Series({u: int(u in postri_core_clusts["Cluster 1"]) for u in all_users})

In [8]:
clusters

        bow  pos_tri
1.0       0        1
2.0       0        0
4.0       0        0
14.0      0        0
16.0      0        0
...     ...      ...
2022.0    1        1
2023.0    1        1
2105.0    1        0
2114.0    1        1
2184.0    1        0

[297 rows x 2 columns]

In [9]:
clust_comparison = pd.crosstab(clusters["bow"], [clusters["pos_tri"]], rownames=["BoW"], colnames=["PosTri"])

In [10]:
clust_comparison

PosTri   0    1
BoW
0       57  112
1       85   43

In [11]:
clusters.groupby("bow").size()

bow
0    169
1    128
dtype: int64

In [12]:
clusters.groupby("pos_tri").size()

pos_tri
0    142
1    155
dtype: int64